[submodule "libs/sniffle"]
	path = libs/sniffle
	url = https://github.com/DeflatedPickle/sniffle
[submodule "libs/haruhi"]
	path = libs/haruhi
	url = https://github.com/DeflatedPickle/haruhi
[submodule "libs/marvin"]
	path = libs/marvin
	url = https://github.com/DeflatedPickle/marvin
[submodule "libs/monocons"]
	path = libs/monocons
	url = https://github.com/DeflatedPickle/monocons
[submodule "libs/tosuto"]
	path = libs/tosuto
	url = https://github.com/DeflatedPickle/tosuto
[submodule "libs/undulation"]
    path = libs/undulation
	url = https://github.com/DeflatedPickle/undulation
[submodule "libs/eyellect"]
	path = libs/eyellect
	url = https://github.com/DeflatedPickle/eyellect
[submodule "libs/icupnp"]
	path = libs/icupnp
	url = https://github.com/DeflatedPickle/icupnp
[submodule "libs/ogmowo"]
	path = libs/ogmowo
	url = https://github.com/DeflatedPickle/ogmowo
[submodule "libs/ldtkudos"]
	path = libs/ldtkudos
	url = https://github.com/DeflatedPickle/ldtkudos
[submodule "libs/FlatOpenDyslexicFont"]
	path = libs/FlatOpenDyslexicFont
	url = https://github.com/DeflatedPickle/FlatOpenDyslexicFont
[submodule "libs/ModernDocking"]
	path = libs/ModernDocking
	url = https://github.com/DeflatedPickle/ModernDocking
[submodule "libs/colorpicker"]
	path = libs/colorpicker
	url = https://github.com/DeflatedPickle/colorpicker
[submodule "libs/owlgotrhythm "]
	path = libs/owlgotrhythm
	url = https://github.com/DeflatedPickle/owlgotrhythm
[submodule "libs/FlatCatppuccinIJTheme"]
	path = libs/FlatCatppuccinIJTheme
	url = https://github.com/DeflatedPickle/FlatCatppuccinIJTheme
[submodule "libs/paleta"]
	path = libs/paleta
	url = https://github.com/DeflatedPickle/paleta
